nav
	{
		
		position: absolute;
		left: 320px;
		top: 270px;  
		background-image: url("images/woodpattern.png");
		
		box-shadow: 10px 10px 8px 5px #888888;
	}

nav ul 
	{
		padding: 5px 5px 5px 10px;
	}
nav li 
	{  
		display: inline;
		margin-right: 5px; 
		margin-left:5px; 
		margin-bottom:10px;
		padding-left:5px; 
		padding-right:5px;
		padding-bottom:10px;
		font-size: 1.2em; 
	}
nav a:link 
	{
		text-decoration: none; 
		color:#331503;
	}
nav a:hover
	{
		text-decoration: underline;
	}
a:visited 
	{
		color:#331503;
	}
